In [2]:
import nltk
import re
import pandas as pd

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import sent_tokenize, word_tokenize

In [3]:
text="Natural Language Processing is an exciting area. Huge budget have been allocated for this."

In [4]:
print(sent_tokenize(text))
print(word_tokenize(text))

['Natural Language Processing is an exciting area.', 'Huge budget have been allocated for this.']
['Natural', 'Language', 'Processing', 'is', 'an', 'exciting', 'area', '.', 'Huge', 'budget', 'have', 'been', 'allocated', 'for', 'this', '.']

In [5]:
text=re.sub(r"[^a-z0-9]"," ",text.lower())
text

'natural language processing is an exciting area  huge budget have been allocated for this '

In [6]:
words=text.split()
print(words)

['natural', 'language', 'processing', 'is', 'an', 'exciting', 'area', 'huge', 'budget', 'have', 'been', 'allocated', 'for', 'this']

In [7]:
finalwords=[]
for w in words:
    if w not in stopwords.words("english"):
        finalwords.append(w)
print(finalwords)

['natural', 'language', 'processing', 'exciting', 'area', 'huge', 'budget', 'allocated']

In [8]:
words=[w for w in words if w not in stopwords.words("english")]
print(words)

['natural', 'language', 'processing', 'exciting', 'area', 'huge', 'budget', 'allocated']

In [9]:
stemmer = PorterStemmer()
stemmer.stem('amazing')

'amaz'

In [10]:
stemmed=[PorterStemmer().stem(w) for w in words]
print(stemmed)

['natur', 'languag', 'process', 'excit', 'area', 'huge', 'budget', 'alloc']

In [11]:
lemma=WordNetLemmatizer()
lemma.lemmatize("history")

'history'

In [12]:
lemmati=[WordNetLemmatizer().lemmatize(w) for w in words]
print(lemmati)

['natural', 'language', 'processing', 'exciting', 'area', 'huge', 'budget', 'allocated']

In [13]:
txt = "Natural language processing is an exciting area.Huge budget have been allocated for this."

tokenized = word_tokenize(txt)

for i in tokenized:
    wordsList = nltk.word_tokenize(i)
    wordsList = [ w  for w in words if w not in stopwords.words("english")]

    tagged = nltk.pos_tag(wordsList)
print(tagged)

[('natural', 'JJ'), ('language', 'NN'), ('processing', 'NN'), ('exciting', 'VBG'), ('area', 'NN'), ('huge', 'JJ'), ('budget', 'NN'), ('allocated', 'VBD')]

In [14]:
doc1 = 'Game of Thrones is an amazing tv series!'
doc2 = 'Game of Thrones is the best tv series!'
doc3 = 'Game of Thrones is so great'

In [15]:
l_doc1=re.sub(r"[^a-z0-9]"," ",doc1.lower()).split()
l_doc2=re.sub(r"[^a-z0-9]"," ",doc2.lower()).split()
l_doc3=re.sub(r"[^a-z0-9]"," ",doc3.lower()).split()

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english',ngram_range=(1,3)) #ngram=to retain the meaning of sentence 
x = vectorizer.fit_transform([doc1,doc2,doc3])
dfBow= pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names_out())
dfBow.head()

,amazing,amazing tv,amazing tv series,best,best tv,best tv series,game,game thrones,game thrones amazing,game thrones best,...,great,series,thrones,thrones amazing,thrones amazing tv,thrones best,thrones best tv,thrones great,tv,tv series
0,1,1,1,0,0,0,1,1,1,0,...,0,1,1,1,1,0,0,0,1,1
1,0,0,0,1,1,1,1,1,0,1,...,0,1,1,0,0,1,1,0,1,1
2,0,0,0,0,0,0,1,1,0,0,...,1,0,1,0,0,0,0,1,0,0

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
doc1="petrol cars are cheaper than diesel cars"
doc2="diesel is cheaper than petrol"
doc_corpus=[doc1,doc2]
print(doc_corpus)

['petrol cars are cheaper than diesel cars', 'diesel is cheaper than petrol']

In [18]:
tfVec=TfidfVectorizer(stop_words='english',ngram_range=(1,3),max_features=10)
matrix=tfVec.fit_transform(doc_corpus)
print("Feature Names==",tfVec.get_feature_names_out())

Feature Names== ['cars' 'cars cheaper' 'cars cheaper diesel' 'cheaper' 'cheaper diesel'
 'cheaper diesel cars' 'cheaper petrol' 'diesel' 'diesel cars' 'petrol']

In [19]:
dfBow= pd.DataFrame(matrix.toarray(),columns=tfVec.get_feature_names_out())
dfBow.head()

,cars,cars cheaper,cars cheaper diesel,cheaper,cheaper diesel,cheaper diesel cars,cheaper petrol,diesel,diesel cars,petrol
0,0.616664,0.308332,0.308332,0.219381,0.308332,0.308332,0.000000,0.219381,0.308332,0.219381
1,0.000000,0.000000,0.000000,0.448321,0.000000,0.000000,0.630099,0.448321,0.000000,0.448321

In [21]:
print("Sparse Matrix n",matrix.shape,"\n",matrix.toarray())

Sparse Matrix n (2, 10)
 [[0.61666358 0.30833179 0.30833179 0.21938061 0.30833179 0.30833179
  0.         0.21938061 0.30833179 0.21938061]
 [0.         0.         0.         0.44832087 0.         0.
  0.63009934 0.44832087 0.         0.44832087]]

In [22]:
import numpy as np
from numpy.linalg import norm 

d1="The Food Is good and great"
d2="The Food is not good"

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english')  #ngram=to retain the meaning of sentence 
x = vectorizer.fit_transform([d1,d2])
dfBow= pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names_out())
dfBow.head()

   food  good  great
0     1     1      1
1     1     1      0

In [23]:
d1_count=[1,1,1]
d2_count=[1,1,0]

cosine=np.dot(d1_count,d2_count)/(norm(d1_count)*norm(d2_count))
print(f"Cosine Similarity Is:{cosine}")

Cosine Similarity Is:0.8164965809277259

In [24]:
import numpy as np
from numpy.linalg import norm 

from sklearn.feature_extraction.text import TfidfVectorizer
d1="The Food Is good and great"
d2="The Food is not good"
doc_corpus=[d1,d2]

tfVec=TfidfVectorizer(stop_words='english',ngram_range=(1,1),max_features=10)
matrix=tfVec.fit_transform(doc_corpus)

dfBow= pd.DataFrame(matrix.toarray(),columns=tfVec.get_feature_names_out())
dfBow.head()

       food      good     great
0  0.501549  0.501549  0.704909
1  0.707107  0.707107  0.000000

In [25]:
d1_count=[0.501549,0.501549,0.704909]
d2_count=[0.707107 ,0.707107,0.000000]

cosine=np.dot(d1_count,d2_count)/(norm(d1_count)*norm(d2_count))
print(f"Cosine Similarity Is:{cosine}")

Cosine Similarity Is:0.7092975763535904